<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>センサー/データ表示</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/index.min.js"></script>
  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
  <style>

  </style>
</head>


<body>
  <div id="app">
    <nav class="navbar navbar-dark bg-primary mb-2">
      <!-- <a href="#" class="navbar-brand" style="color: #fff">{{ title }}</a> -->
      <a href="#" class="navbar-brand" style="color: #fff">センサーのデータ表示（★受け取り状況）</a>
    </nav>

    <!-- <p class="m-0 p-0 ml-3">※いまいまUpdate/Deleteする前にブラウザリロード必要かも（修正中）</p> -->
    <p class="m-0 p-0 ml-3">センサーのデータ（受け取り待ち or 完了）を表示するプロトタイプ</p>
    <p class="m-0 p-0 ml-3">- API Gateway --> Lambda --> DynamoDB構成（WEBコンテンツはS3に配置）</p>
        <br />
    <p class="m-0 p-0 ml-3">→ まずは、LINEボットでプロトタイプ作成＆調整して、スマホアプリ化する方針！</p>
    <p class="m-0 p-0 ml-3">→ Lambda経由でLINE通知もOK!...[LINEボットのQRコード]<img src="./qr.png" style="width:10%" /></p>



    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">

          <button class="btn btn-primary my-2" @click="showModal">センサーのデータ入力</button>
          <table class="table table-bordered">

            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>日時</th>
                <th>宅名</th>
                <th>センサー値</th>
                <th style="width: 50px;">更新</th>
                <th style="width: 50px;">削除</th>

              </tr>
            </thead>

            <tbody>
              <!-- {{reverseItems}} -->
              <!-- <tr v-for="todo in todos" :key="todo.id"> -->
              <tr v-for="todo in reverseItems" :key="todo.id">
              <!-- <tr v-for="todo in todos.slice().reverse()" :key="todo.id"> -->
                <td>{{ todo.id }}</td>
                <td>{{ todo.updatedAt }}</td>
                <td>{{ todo.body2 }}</td>
                <td>{{ todo.body }}</td>
                <td><button class="btn btn-secondary" @click="editPerson(todo)">更新</button></td>
                <td><button class="btn btn-secondary" @click="deletePerson(todo)">削除</button></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>


    <!-- ★モーダルウィンドウ用 -->
    <modal name="todo-modal" width="80%">
      <div class="card">

        <div class="card-body">
          <div class="card-title">
            <h5 v-if="createFlag">センサー/データの追加</h5>
            <h5 v-else>センサー/データの更新</h5>
          </div>

          <div class="card-text">
            <div class="form-group">
              <input type="text" class="form-control" id="id" placeholder="IDを入力してください" v-model="form.id" hidden>
            </div>

            <div class="form-group">
              <!-- <label for="body">センサーのステータス値</label>
              <input type="text" class="form-control" id="body" placeholder="センサー値を入力ください" v-model="form.body"> -->
              <!-- <label for="body2">宅名</label>
              <input type="text" class="form-control" id="body2" placeholder="宅名を入力ください" v-model="form.body2"> -->

              <div id="body">
                センサーのステータス値
                <select name="body" v-model="form.body" class="form-control">
                  <option>受取待ち</option>
                  <option>受取完了</option>
                </select>
                <!-- <p>選択項目: {{form.body}}</p> -->
              </div>

              <br />
              <div id="body2">
                宅名
                <select name="body2" v-model="form.body2" class="form-control">
                  <option>A宅</option>
                  <option>B宅</option>
                </select>
                <!-- <p>選択項目: {{form.body2}}</p> -->
              </div>

            </div>

            <button class="btn btn-primary" @click="registerPerson" v-if="createFlag">登録</button>
            <button class="btn btn-primary" @click="updatePerson" v-else>更新</button>
            <button class="btn btn-secondary" @click="cancel">キャンセル</button>
          </div>

        </div>
      </div>
    </modal>
  </div>
  <!-- Vue.jsファイルを読み込み -->
  <script src="./index.js"></script>
  <!-- <script src="./index2.js"></script> -->
</body>

</html>
